.infoCardContainer {
    max-width: 1140px;
    margin: 40px auto;
    padding: 40px;
    background-color: #f1f1f1;
}

.shareSocialIcon circle {
    fill: #444;
}


.searchBarContainer svg {
    color: #000;
}

.searchBarContainer input {
    height: 50px;
    border: 0;
    border-radius: 0px;
    color: #000;
    background: #f1f1f1;
}

.resultsList {
    min-width: 400px;
    left: auto;
    right: 0;
    padding: 0;
}

.sellingPrice {
    font-weight: bold;
}

.container {
    max-width: 1140px;
}

.newsletter {
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.newsletter input {
    background: none;
    border: 0;
    border-radius: 0;
    color: #000;
    background: #f1f1f1;
}

.logoContainer {
    height: 70px;
    max-height: 100px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
}

.logoContainer img {
    height: auto!important;
    position: absolute;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 16px;
    top: 0;
    margin: auto;
    max-height: 80%;
}

@media screen and (min-width: 40rem) {
    .searchBarContainer {
        width: 50%;
        margin-right: 20px;
    }    
}

@media screen and (max-width: 40rem) {
    .logoContainer img {
        max-width: 90%;
    }

    .searchBarContainer {
        width: 100%;
        padding: 0;
    }

    .logoContainer {
        height: 50px;
    }

}